.container
  .row
    #original_statistics_pip
      -@original_statistics.each_value do |original_statistic|
        .col-md-6
          .panel.panel-default
            .panel-heading
              = original_statistic[:head]
            .panel-body
              %div
                = original_statistic[:pie_tips]
              .pie(id="pie_#{original_statistic[:id]}" )
              .none
                =raw original_statistic[:bind_data]
