<!DOCTYPE html>
<html>
<head>
  <title>FinanceStarUsers</title>
  <%= stylesheet_link_tag    "finance_star_users/application", media: "all" %>
  <%= javascript_include_tag "finance_star_users/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
