.container
  .row

    %hr

    %table.table.table-hover
      %thead
        %tr
          %td(algin="center")姓名
          %td(algin="center")消费
          %td(algin="center")消费总额
          %td
          %td
      %tbody
        -@customer_consume.map do |key,value|
          %tr
            %td
              =key[0]
            %td
              =key[1]
            %td
              =value
              元
            %td
              %a.btn.btn-xs.btn-primary(href="show_customer_detail/#{key[0]}")
                %i.icon-comments
                  详情
            -#%td
            -#  %a(href="" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#edit_customer")
            -#    %i.icon-tongue
            -#      对比