!!!
%html
  %head
    %title finance_management
    = stylesheet_link_tag    "finance_management/application", :media => "all"
    = javascript_include_tag "finance_management/application"
    = csrf_meta_tags
  %body
    #wrapper
      .container
        = yield