%div(class="navbar navbar-default navbar-static-top")
  .container
    .navbar-header
      %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
        %span(class="icon-bar" )
        %span(class="icon-bar" )
        %span(class="icon-bar" )
      %a(class="navbar-brand cwx-logo" href="/" ) 财务星
    -if signed_in?
      %div(class="navbar-collapse collapse" )
        -if !is_admin?
          %ul(class="nav navbar-nav")
            %li#_finance_management_index
              %a(href="javascript:{window.location.href = '/finance_management/index'}") 首页
            %li#_finance_management_customer_management_index
              %a(href="javascript:{window.location.href = '/finance_management/customer_management/index'}") 客户管理
            %li#_finance_management_my_finance_index
              %a(href="javascript:{window.location.href = '/finance_management/my_finance/index'}") 财务管理
            %li#_finance_management_finance_statistics_index
              %a(href="javascript:{window.location.href = '/finance_management/finance_statistics/index'}") 信息统计
            -#%li#_finance_management_customer_management_index
            -#  %a(href="javascript:{window.location.href = '#'}" ) Wap系统

        %ul(class="nav navbar-nav navbar-right" )
          %li(class="dropdown" )
            %a(class="dropdown-toggle" data-toggle="dropdown" href="#" )
              %span
                你好，#{current_user.name}
              %b(class="caret")
            %ul(class="dropdown-menu" )
              -if !is_admin?
                %li
                  %a(href="javascript:{window.location.href = '#'}" )用户认证
                %li.divider
                %li
                  %a(href="#")个人信息
                %li.divider
                %li
                  %a(href="#" )密码修改
                %li.divider
              %li
                %a(href="javascript:{window.location.href = '/signout'}" ) 退出