.col-md-2
  .multilevel-nav
    %ul.nav.nav-pills.nav-stacked
      %li
        %a(href="#")  XXXXXX
    %ul.nav.nav-pills.nav-stacked
      %li
        %a(href="#")  XXXXXX
    %ul.nav.nav-pills.nav-stacked
      %li
        %span.nav-title  CC
      %li
        %a.sub-level(href="#")  XX
      %li
        %a.sub-level(href="#")  XX
    %ul.nav.nav-pills.nav-stacked
      %li
        %a(href="#")  XXXXX
    %ul.nav.nav-pills.nav-stacked
      %li
        %a(href="#")  XXXXX
    %ul.nav.nav-pills.nav-stacked
      %li
        %span.nav-title  CC
      %li
        %a.sub-level(href="#")  XXXX
      %li
        %a.sub-level(href="#") XXXXX