.horizontal-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    padding: 4px;
    margin: 2px;
  }
}

.horizontal-group {
  margin-bottom: 2px;
  height: 35px;
  display: table;
  width: 100%;

  .item {
    vertical-align: middle;
    display: table-cell;
  }
}

.action-form {
  margin: 0;
  padding: 0;
  display: inline-block;

  input[type=submit] {
    display: inline-block;
  }
}

.box {
  padding: 5px;
}

.border {
  border: 1px solid lightgray;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;;
}

.border_bottom {
  border-bottom: 1px solid dimgray;
}

.large {
  font-size: large;
}

.small {
  font-size: small;
}

.block {
  display: block;
}

.light-gray {
  color: lightgray;
}

.gray {
  color: gray;
}

.cell {
  display: table-cell;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.horizontal-padding {
  padding: 0 8px;
}

.vertical-margin {
  margin: 10px 0;
}

.radio-group {
  .radio {
    display: inline-block;
    margin: 0 10px;
  }
}

.highlight {
  background-color: #0e7526;
  color: #EAF3EA;
}

.button {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #0e7526;
  background-image: none;
  -webkit-box-shadow: none;
  moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0;
}

.button.button-large {
  padding: 9px 25px;
  font-size: 15.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.pagination {
  float: right;
}

.footer {
  position: absolute;
  bottom: 0;
  display: block;
  text-align: center;
  width: 100%;
  border-top: 1px solid lightgray;

  margin-bottom: -510px;
  display: block;

  .breadcrumb {
    padding: 4px;
    margin: 0px;
    background-color: white;
  }
}


#headerbar {
  width: 100%;
  background: #1b1b1b;
  margin-bottom: 20px;

  a {
    color: #b1b1b1;
  }

  span {
    color: #626262;
  }

}

#wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}